[class^="h-space-"] {
    width: 100%;

    /* prevent errors in IE */
    height: 1px;
}

.h-space-before--1 {
    margin-top: 9px;
}

.h-space-before--2 {
    margin-top: 19px;
}

.h-space-before--3 {
    margin-top: 29px;
}

.h-space-before--4 {
    margin-top: 39px;
}

.h-space-before--5 {
    margin-top: 49px;
}

.h-space-before--6 {
    margin-top: 59px;
}

.h-space-before--7 {
    margin-top: 69px;
}

.h-space-before--8 {
    margin-top: 79px;
}

.h-space-before--9 {
    margin-top: 89px;
}

.h-space-before--10 {
    margin-top: 99px;
}

.h-space-after--1 {
    margin-bottom: 9px;
}

.h-space-after--2 {
    margin-bottom: 19px;
}

.h-space-after--3 {
    margin-bottom: 29px;
}

.h-space-after--4 {
    margin-bottom: 39px;
}

.h-space-after--5 {
    margin-bottom: 49px;
}

.h-space-after--6 {
    margin-bottom: 59px;
}

.h-space-after--7 {
    margin-bottom: 69px;
}

.h-space-after--8 {
    margin-bottom: 79px;
}

.h-space-after--9 {
    margin-bottom: 89px;
}

.h-space-after--10 {
    margin-bottom: 99px;
}
